<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Device Name
            </th>
            <th>
                Device Key
            </th>
            <th>

            </th>
        </tr>
    </thead>
    {% for device in devices %}
    <tr>
        <td>
            {{loop.index}}
        </td>
        <td>
            {{ device.device_name }}
        </td>
        <td>
            {{ device.device_key }}
        </td>
        <td>
            <i hx-trigger="click" hx-delete="/devices/{{loop.index}}" hx-target="closest tr" hx-confirm="Are you sure?"
                class="fa-regular fa-trash-can redhover"></i>
        </td>
    </tr>
    {% endfor %}
</table>