<div class="progress" role="progressbar">
    {% if queue_item.status.value != 5 %}
    <div hx-get="/queue/{{queue_item.id}}" hx-trigger="every 1s" hx-target="closest div.progress" hx-swap="outerHTML"
        id="pb{{queue_item.id}}" class="progress-bar" style="width: {{queue_item.status.value*20}}%;">
        {{queue_item.status.name}}</div>
    {% else %}
    <div id="pb{{queue_item.id}}" class="progress-bar bg-success" style="width: 100%;">
        {{queue_item.status.name}}</div>
    {% endif %}
</div>