<div class="mb-3 row">
    <label for="readwise_duration" class="col-form-label col-sm-2">Default duration</label>
    <div class="col-sm-10">
        <input hx-post="/settings" hx-trigger="keyup changed delay:1s" type="text" id="readwise_duration"
            name="readwise_duration" class="form-control" aria-labelledby="noteshelp" value="{{settings.readwise_duration}}"
            required>
        <div id="noteshelp" class="form-text">Default clip length</div>
    </div>
</div>

<div class="mb-3 row">
    <label for="readwise_sync_frequency" class="col-form-label col-sm-2">Sync Frequency</label>
    <div class="col-sm-10">
        <select hx-post="/settings" hx-swap="none" id="readwise_sync_frequency" name="readwise_sync_frequency"
            class="form-select" aria-labelledby="titleshelp" required>
            <option {% if settings.readwise_sync_frequency=="1" %}selected{% endif %} value="1">1 hour
            </option>
            <option {% if settings.readwise_sync_frequency=="5" %}selected{% endif %} value="5">5 hours
            </option>
            <option {% if settings.readwise_sync_frequency=="10" %}selected{% endif %} value="10">10 hours
            </option>
        </select>
        <div id="titleshelp" class="form-text">How often to check Readwise for highlights</div>
    </div>
</div>

<div class="mb-3 row" hx-get="/readwise/titles" hx-trigger="load">
    <label for="readwise_titles" class="col-form-label col-sm-2">Titles</label>
    <div class="col-sm-10 overflow-y-scroll" style="height: 200px;" id="readwise_titles">
        {% for i in range(10) %}
        <div class="form-check form-switch placeholder-glow">
            <input hx-post="/settings" hx-trigger="click" class="form-check-input placeholder"
                hx-include="#readwise_titles" type="checkbox" role="switch" name="readwise_titles" value="{{title}}">
            <label class="form-check-label placeholder">Placeholder readwise title</label>
        </div>
        {% endfor %}
    </div>
</div>