<div class="snippet" id="snippet{{snippet.id}}">
    <figure>
        <blockquote class="blockquote">
            <div class="row">
                <div class="col-auto"><i class="fa-sharp fa-solid fa-quote-left" style="color: gray"></i></div>
                <div class="col">
                    <div contenteditable="true" hx-trigger="blur" hx-put="/snippet/{{snippet.id}}"
                        hx-vals="javascript:{text:htmx.find('#snippetText{{snippet.id}}').innerText}"
                        hx-target="#snippetText{{snippet.id}}">
                        <div name="text" id="snippetText{{snippet.id}}">{{ snippet.text }}</div>
                    </div>

                </div>
                <div class="col-auto align-self-end"><i class="fa-sharp fa-solid fa-quote-right"
                        style="color: gray"></i></div>
            </div>
        </blockquote>
        <figcaption class="blockquote-footer text-end">
            {{snippet.created_at}}
            <a href="{{source.url}}?t={{snippet.start_time}}" class="text-decoration-none text-light-emphasis redhover">
                ({{snippet.start_time}}s to {{snippet.end_time}}s)
            </a>
            <i class="fa-solid fa-circle-minus redhover ps-5" hx-delete="/snippet/{{snippet.id}}"
                hx-swap="innerHTML swap:1s" hx-trigger="click" hx-target="#snippet{{snippet.id}}"
                hx-confirm="Are you sure?"></i>
        </figcaption>
    </figure>
</div>