<div id="sources">
    {% if sources|length == 0 %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <div class="alert-heading">
                    <h2>Hey!</h2>
                    You don't have any clips yet. You can add a new clip using the fields above!
                    Simply paste a time-coded YouTube or Pocketcast URL as your source and click the Add button.
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {{ render_partial("partials/queue.html", queue=queue) }}

    {% for source in sources %}
    <div class="source" id="source{{source.id}}">
        <div class="row">
            <div class="col-md-auto d-flex align-items-center pb-3">
                <a href="{{source.url}}" class="text-decoration-none text-dark">
                    {% if source.provider == "youtube" %}
                    <i class="fas fa-brands fa-youtube fa-2xl" style="color: red;"></i>
                    {% elif source.provider == "pocketcast" %}
                    <i class="fas fa-sharp fa-solid fa-podcast fa-2xl" style="color: red"></i>
                    {% endif %}
                </a>
            </div>
            <div class="col-11">
                <a href="{{source.url}}" class="text-decoration-none text-dark">
                    <p class="fs-2 text-truncate">{{ source.title }}</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src={{source.thumb_url}} class="img-fluid shadow">
                <i hx-trigger="click" hx-delete="/source/{{source.id}}" hx-target="#source{{source.id}}"
                    hx-confirm="Are you sure?" hx-swap="innerHTML swap:1s"
                    class="fa-sharp fa-regular fa-trash-can fa-xl pt-4 pe-2 redhover"></i>
                <i class="fa-sharp fa-solid fa-copy fa-xl redhover liveToastBtn"
                    onclick="copyToClipboard({{source.id}})"></i>
            </div>
            <div class="col-9">
                {% for snippet in source.snippets %}
                {{ render_partial("partials/snippet.html", snippet=snippet, source=source) }}
                {% endfor %}
            </div>
        </div>
        <hr class="border-1 pb-5" />
    </div>
    {% endfor %}
</div>