<div id="sources">
    {% if sources|length == 0 %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <div class="alert-heading">
                    <h2>Hey!</h2>
                    You don't have any clips yet. You can add a new clip using the fields above!
                    Simply paste a time-coded YouTube or Pocketcast URL as your source and click the Add button.
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% for source in sources %}
    <div class="source" id="source{{source.id}}">
        <div class="row pb-4">
            <a href="{{source.url}}" class="text-decoration-none">
                {% if source.provider.value == 1 %}
                <i class="fas fa-brands fa-youtube fa-2x pe-2" style="color: red;"></i>
                {% elif source.provider.value == 2 %}
                <i class="fas fa-sharp fa-solid fa-podcast fa-2x pe-2" style="color: red"></i>
                {% endif %}
                <span class="h3 text-light-emphasis">{{ source.title }}</span>
            </a>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="row justify-content-center pb-4">
                    <div class="col-auto">
                        <img src={{source.thumb_url}} class="img-fluid">
                    </div>
                </div>
                <div class="row pt-2 pb-4 justify-content-start">
                    <div class="col-auto">
                        <i hx-trigger="click" hx-delete="/source/{{source.id}}" hx-target="#source{{source.id}}"
                            hx-confirm="Are you sure?" hx-swap="innerHTML swap:1s"
                            class="fa-sharp fa-regular fa-trash-can fa-xl redhover"></i>
                    </div>
                    <div class="col-auto">
                        <i class="fa-sharp fa-solid fa-copy fa-xl redhover liveToastBtn"
                            onclick="copyToClipboard({{source.id}})"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                {% for snippet in source.snippets %}
                {{ render_partial("partials/snippet.html", snippet=snippet, source=source) }}
                {% endfor %}
            </div>
        </div>
        <hr class="border-2 pb-5" />
    </div>
    {% endfor %}
</div>