{% extends "shared/_layout.html" %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Device Keys</h1>
                </div>
                <div class="card-body" id="device-table">
                {{render_partial("partials/device_table.html", devices=devices)}}
                </div>
            </div>
        </div>
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Add Device Key</h1>
                </div>
                <div class="card-body">
                    <form hx-post="/devices" hx-target="#device-table">
                        <div class="mb-3">
                            <label for="device_name" class="form-label">Device Name</label>
                            <input type="text" id="device_name" name="device_name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Add Device</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}