{% extends "shared/_layout.html" %}
{% block main_content %}
{{ render_partial("partials/sources.html", sources=sources) }}
{% endblock %}

{% block additional_css %}
<style>
    .redhover {
        transition: all .2s ease-in-out;
    }

    .redhover:hover {
        /* transform: scale(1.2);  */
        color: red;
    }

    div.source.htmx-swapping {
        opacity: 0;
        transition: opacity 0.25s ease-out;
    }

    div.snippet.htmx-swapping {
        opacity: 0;
        transition: opacity 0.25s ease-out;
    }
</style>
{% endblock %}