{% extends "shared/_layout.html" %}
{% block main_content %}
<div class="card mb-5" data-testid="div_addclip">
    <h5 class="card-header">Add a clip</h5>
    <div class="card-body">
        <form hx-post="/enqueue" hx-target="#sources">
            <div class="row align-items-end">
                <div class="col-8">
                    <label for="sourceUrl">Source</label>
                    <input name="url" id="sourceUrl" type="text" class="form-control" placeholder="url">
                </div>
                <div class="col-2">
                    <label for="sourceDuration">Duration</label>
                    <input name="duration" id="sourceDuration" type="text" class="form-control" value="60">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-success" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{ render_partial("partials/sources.html", sources=sources) }}
{% endblock %}

{% block additional_css %}

{% endblock %}