<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css" crossorigin="anonymous" />

    {% block additional_css %}{% endblock %}
</head>

<body style="padding-top: 100px;">
    <nav class="navbar fixed-top bg-dark bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand fs-2" href="#">
                <i class="fa-solid fa-book pe-2"></i>
                My Snippets
            </a>
            <form hx-post="/snippets" hx-target="#sources" hx-indicator=".htmx-indicator">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-text">Source</span>
                            <input name="url" type="text" class="form-control" placeholder="url" style="width:300px;">
                            <span class="input-group-text">Duration</span>
                            <input name="duration" type="text" class="form-control" value="60s" style="width:60px;">
                            <button class="btn btn-outline-success" type="submit">Add</button>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-gear fa-spin fa-xl mt-3 htmx-indicator" style="color:white;"></i>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="main_content">
            {% block main_content %}{% endblock %}
        </div>
    </div>
    <div id="liveToast" class="toast align-items-center position-fixed bottom-0 end-0 p-2 m-2 bg-danger" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body text-light">
                Markdown copied to clipboard
            </div>
            <button type="button" class="btn-close me-2 m-auto text-light" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/htmx.min.js"></script>
    <script>
        function copyToClipboard(id) {
            const toastLiveExample = document.getElementById('liveToast')
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastBootstrap.show()

            var text = fetch("/source/" + id + "/markdown")
                .then(response => response.text())
                .then(text => {
                    navigator.clipboard.writeText(text)
                })
        }
    </script>
</body>

</html>